
<div class="container">
<%= render 'shared/errors' %>
    <%= form_with(model: @article, local: true) do |f| %>
        <p>
            <%= f.label :title, class: "form-label" %><br>
            <%= f.text_field :title, class: "form-control" %>
        </p>
        <p>
            <%= f.label :description,  class: 'form-label' %><br>
            <%= f.text_area :description,  class: "form-control" %>
        </p>
        <p>
            <%= f.submit class: "btn btn-success" %>
        </p>
    <% end %>
</div>
