<h1 class="text-center"> Articles listing page </h1>
<div class='container mb-5'>
    <% @articles.each do |article| %>
        <div class="row justify-content-md-center shadow p-3 mb-5 bg-body-tertiary rounded">
            <div class="card text-center">
            <div class="card-header">
                Article by <%= article.user.username %>
            </div>
            <div class="card-body ">
                <h5 class="card-title"> <%= link_to article.title, article_path(article), class: "link-success text-decoration-none" %> </h5>
                <p class="card-text"> <%= truncate(article.description, length: 175) %> </p>
                <div class="d-flex justify-content-md-center">
                    <%= link_to 'Edit' , edit_article_path(article), class: 'btn btn-warning m-1' %> 
                    <%= button_to 'Delete' , article_path(article), method: :delete, class: 'btn btn-danger m-1' %>
                </div>
            </div>
            <div class="card-footer text-body-secondary">
                Created: <%= article.created_at %> , Updated: <%= article.updated_at %> 
            </div>
            </div>
        </div>
    <% end %>
</div>
